.generateButton {
    width: 100px; 
    height: 100px; 
    padding: 0;
    color: transparent; 
  
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
  
    background-image: url('../../images/Generate Button.png');
    background-size: cover;
    cursor: pointer;
    transition: transform 0.3s; 
  
    &:hover {
      transform: scale(1.1); 
    }
  }
  