.personSVG {
    color: white;
    margin-right: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45vh;
}

.title {
    font-family: "Gochi Hand";
    font-size: 5vw;
}

.loginDescription {
    margin-bottom: 3rem;
    font-family: "Raleway";
}


.separator {
    width: 30%;
    border: none;
    height: 1px;
    background-color: #DBF881;
    margin-bottom: 2rem;
}

.error {
    color: red;
}

@media (max-width: 750px) {
    .title {
        font-size: 3rem;
    }
}