.template {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding-left: 80px;
    padding-bottom: 80px;
    padding-top: 20px;
    padding-right: 80px;
}

.question {
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 600;
    margin-top: 16px;
}

.generateButton {
    align-self: center;
    margin-top: 20px;
}


.heading {
    font-family: "Raleway";
    font-size: 24px;
}

@media (max-width: 750px) {
    .template {
        padding-left: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .heading {
        font-size: 20px;
    }
    .question {
        font-size: 16px;
    }
}