.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 64px;
    border-bottom: solid 2px #887EF1;
    ;
}

.icon {
    font-family: "Gochi Hand";
}



.user_handling {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    &__username {
        color: #ffffff;
        font-weight: bold;
    }
}
