.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 64px;
    border-bottom: solid 2px #887EF1;
    ;
}

.icon {
    font-family: "Gochi Hand";
}